{% extends 'kurtfunaiWalkthroughBundle::layout.html.twig' %}

{% block title %}
Symfony2: Entities and Forms Tutorial - {{ parent() }}
{% endblock %}


{% block content_header %}
<h1>Entities &amp; Forms Tutorial</h1>
{% endblock %}

{% block content %}
rawr
{% endblock %}

{% block footer %}
<ul>
    <li>
        <a href="{{path('homepage')}}">Back to walkthroughs</a>
    </li>
</ul>
{% endblock %}
